footer {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
span{
    transition: 0.5s;
    
}
footer:hover span {
    color: red;
}

marquee {
    background-color: red;
    color: white;
}
#nav {
    display: flex;
    justify-content: space-between;
    background-color: #4c4c4c;
    align-items:center;
}
#nav img {
    width: 3em;
    height: 2em;
    padding: 1em;
    margin:0px;
}
#nav ul li {
    list-style-type: none;
    padding: 1em;
    color: #c4c4c4;
}
#nav ul{
    display: flex;
    flex: 1;
    width:100%;
    margin:0;
    padding: 0;
}
body * {
    font-family: 'Nunito Sans', sans-serif;
}
.join {
    padding:1em;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background: #f08d97 url(images/floral.png) repeat-y;
}
.join h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-weight:900;
    padding:0px 20px;
    text-align:center;
}
.join p {
    font-weight:bold;
    border-top:1px solid;
    border-bottom:1px solid;
    padding: 20px;
    text-align:center;
     
}
.join button {
    background-color: black;
    border:none;
    color:#f08d97;
    font-weight:bold;
    font-size:large;
    padding:10px 50px;
    letter-spacing:2px;
}
.services {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #efece7 url(images/floral.png) repeat-y;
}
.services h2 {
    font-family: 'Sofia', cursive;
    font-size:2em;
}
.services p {
    padding: 20px;
    text-align: center;
    margin-top:0;
}
.services > figure {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px 90px;
    font-size:1.5em;
}

    .services i {
    font-size:6em;
}
.services h1 {
    font-weight:900;
    font-size: 1em;
    margin-bottom: 0;
    text-align: center;
}
.portfolio {
    padding: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #ddceb4 url(images/floral.png) repeat-y;
}
.portfolio h2 {
    font-family: 'Sofia', cursive;
    font-size: 2.4em;
}
.portfolio p {
    border-top:1px solid;
    border-bottom:1px solid;
    padding: 30px;
    text-align:center;
    font-size: 1.8em;
     
}
.projects {
    padding: 20px;
    text-align:center;
    display: flex;
}

.projects figure {
    width: 50%;
    margin: 15px;
    border-radius: 8px;
    display: block;
}
.portfolio figure img{
    width: 100%;
}
.contact {
    padding: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #afc7c6 url(images/floral.png) repeat-y;
}
.contact h1 {
    font-family: 'Sofia', cursive;  
}
.social i {
    font-size:2em;
    border: 1px solid black;
    padding:10px;
    border-radius: 75px;
}
@media screen and (min-width:620px) and (max-width:960px) {
    


    .join {
        padding: 1.5em;
        font-size: 2em;
    }

    .join p {
        font-weight:100;
        padding:20px 0px;
        font-size: 28px;
    }

    .join button {
        font-size:1.4em;
        padding:20px 80px;
        }

    #nav img {
        width: 5em;
        height: 3em;
        padding: 1.5em;
        margin:0px;
    }

    #nav ul li {
        list-style-type: none;
        padding: 1.5em;
        color: #c4c4c4;
        font-size:1.2em;
        font-weight: bold;
    }

} 
